/* ---------------------------- */
/* BASIC SETUP */
/* ---------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* ---------------------------- */
/* HEADER */
/* ---------------------------- */
html,
body {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://media.vanityfair.com/photos/5643cd52ffe4c2a35a2abd22/master/pass/julia-roberts-jennifer-lawrence.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.hero-text {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-text h1 { font-size: 450%; }

.hero-text h2 {
  font-size: 150%;
  padding-top: 5%;
  text-align: left;
}

/* ---------------------------- */
/* ABOUT SECTION */
/* ---------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.title {
  text-align: left;
  font-weight: 300;
  color: #555555;
  font-size: 175%;
  padding-bottom: 3%;
}

.box {
  padding: 1%;
  display: block;
  float: right;
}

.box:first-child {
  text-align: left;
  font-size: 19px;
}

.box:last-child {
  text-align: left;
  font-size: 18px;
  border: 1px solid lightgrey;
  margin-top: 90px;
}

.box ul {
  padding-left: 8%;
  padding-top: 5%;
  line-height: 1.8;
}

p {
  line-height: 1.8;
}

h3 {
  margin-top: 60px;
  text-align: left;
  font-weight: 400;
}

h4 {
  font-weight: 400;
  color: #555555;
}

span {
  font-weight: 400;
  color: #555555;
}

a {
  font-weight: 400;
  color: darkblue;
}

.credit {
  font-weight: 400;
  font-size: 18px;
}
